.contenedor-1 {
    background-color: green;
}
.contenedor-2 {background-color: whitesmoke;

}
.contenedor-3 {background-color: grey;}

.contenedor-4 {background-color: yellow;}

.contenedor-5 {background-color: blue;}
